{{define "content"}}

<section id="main-content">
  <canvas id="gravity-canvas"></canvas>
  <div id="about-card" class="card json">
    {{template "about"}}

  </div>
  <div id="other-card" class="card json">
    {{template "about"}}  
  </div>
</section>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.12.0/matter.min.js"></script>
<script src="scripts/gravity.js"></script>

{{end}}
