<!DOCTYPE html>
<html>
  <head>
    <title>David Reed</title>
    <link rel="shortcut icon" type="image/x-icon" href="public/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">

    <!-- Generic data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="author" content="David Reed">
    <meta name="description" content="I code and this is my website">
    <meta name="keywords" content="david,reed,david reed,software engineer,developer,computer science">
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@reedthesign">
    <meta name="twitter:title" content="David Reed">
    <meta name="twitter:description" content="I code and this is my website">
    <meta name="twitter:creator" content="@reedthesign">
    <meta name="twitter:image:alt" content="A simple yet elegant frog">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="David Reed">
    <meta itemprop="description" content="I code and this is my website">

    <!-- Open Graph data -->
    <meta property="og:title" content="David Reed">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.davidjreed.net/">
    <meta property="og:description" content="I code and this is my website">
    <meta property="og:image:alt" content="A simple yet elegant frog">
  </head>
  <body>

  {{template "content" .}}

  </body>
</html>
